@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fahkwang:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Manrope:wght@200..800&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black !important;
}

::selection {
    background-color: #efe6d5;
    color: black;
}

a, p, h4, h5, h6 {
    font-family: 'Manrope';
}

h1, h2, h3 {
    font-family: 'Fahkwang';
}

.responsive-container {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    z-index: 1111;
    position: relative;
}

.header-top-bar {
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.logo-image-link {
    padding: 16px 0;
}

.logo-image {
    width: 170px;
}

.navbar-user-links {
    list-style: none;
    margin: 0;
    padding: 10px 0;

    li {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 55px;
    }
}

.navbar-links {
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    transition: 0.3s ease-in-out;
    text-transform: uppercase;
}

.navbar-links:hover {
    color: #efe6d5;
}

.hero-section {
    position: relative;
    background-image: url("../images/background-image.png");
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    top: -130px;
}

.hero-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(at center center, #05050500 0%, #050505 60%);
    z-index: 1;
    background-color: transparent;
}

.fashion-industry-heading {
    padding: 0 20% 0 20%;

    h1 {
        color: #fff;
        z-index: 111;
        position: relative;
        font-size: 40px;
        font-weight: 700;
        line-height: 56px;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 30px;
    }
}

.images-link-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 620px;
}

.wave-item {
    width: 230px;
    position: relative;
    min-height: 500px;
    background-image: linear-gradient(180deg, #FFFFFF00 67%, #111112 92%);
    background-color: transparent;
}

.wave-item:nth-child(odd) {
    transform: translateY(-50px);
}

.wave-link {
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    fill: #FFFFFFB3;
    color: #FFFFFFB3;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding-top: 10px;
    transition: 0.3s ease-in-out;
}

.wave-link svg {
    width: 13px;
}

.wave-link:hover {
    color: #fff;
    fill: #fff;
}

.portfolio-images-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 60px 0 180px 0;
}

.portfolio-heading-wrapper {
    text-transform: uppercase;
}

.portfolio-heading {
    font-size: 32px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}

.portfolio-link {
    font-size: 18px;
    font-weight: 700;
    color: #efe6d5;
    text-decoration: none;
    border-bottom: 2px solid #efe6d5;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.portfolio-images {
    cursor: pointer;
    transition: 0.2s linear;
}

.portfolio-images:hover {
    opacity: 0.6;
}

.about-section {
    position: relative;
}
.background-image {
    background-image: url("../images/about.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    min-height: 70vh;
}
.gradient-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 60%, rgba(0, 0, 0, 0) 100%);
    pointer-events: none;
}
.about-wrapper {
    z-index: 1111;
    position: relative;
    padding: 210px 48px;
}

.about-description-wrapper {
    max-width: 58.665%;
}

.social-icons-link-wrapper {
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.social-icons-link {
    border-radius: 50%;
    background-color: white;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.social-icons {
    width: 20px;
    height: 20px;
    transition: all 0.3s ease;
}

.common-paragraph {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
}

.about-paragraph {
    font-weight: 400;
    color: #ffffffb3;
}

.about-description-wrapper {
    gap: 25px;
}

.social-icons-link:hover {
    background-color: black !important;
}

.social-icons-link:hover .social-icons {
    fill: white !important;
}
.social-icons-link:hover .social-icons,
.social-icons-link:hover .social-icons path,
.social-icons-link:hover .social-icons g {
    fill: white !important;
}
.services-wrapper {
    padding: 70px 20px 180px 20px;
}
.services-content {
    max-width: 24%;
}
.common-heading {
    font-size: 26px;
    font-weight: 700;
    color: #fff;
    margin: 0;
}
.explore-link {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    color: #efe6d5;
    text-decoration: none;
}
.photo-shoot-content {
    gap: 15px;
}
.services-content {
    gap: 30px;
}
.service-image {
    width: 395px;
}
.reviews-heading {
    font-size: 24px;
    font-weight: 500;
    color: #fff;
}
.left-quotes-image {
    position: relative;
    top: -50px;
    left: 30px;
}
.reviews-wrapper {
    gap: 100px;
    padding: 0 20px;
}
.reviews-image {
    gap: 25px;
}
.reviews-image img {
    width: 67px;
}
.reviews-content {
    gap: 55px;
    padding-bottom: 180px;
}
.review-name {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}
.reviews-title {
    color: #ffffffb3;
    font-size: 13px;
    font-weight: 400;
    margin: 0;
}
.reviews-image-content {
    gap: 5px;
}
.lets-work-together {
    background-image: url("../images/work-togethor.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: center center;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
}
.lets-work-together::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-image: linear-gradient(90deg, #050505 51%, #0505059E 100%) ;
    z-index: 1;
}
.lets-work-together {
    h1 {
        z-index: 111;
        position: relative;
        padding-bottom: 15px;
    }
}
.lets-work-together {
    text-align: center;
    a {
        position: relative;
        z-index: 111;
    }
}
.footer-wrapper {
    padding: 80px 0;
    gap: 45px;
}
.footer-link {
    text-transform: unset;
}


.professional-photographer-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 150px 20px 180px 20px;
    gap: 70px;
}
.professional-photographer-heading {
    padding: 0 10% 0 10%;
}
.photographer-image {
    min-width: 510px;
}
.photographer-about-wrapper {
    gap: 130px;
    padding-bottom: 110px;
}
.about-link {
    width: 155px;
    padding-top: 20px;
}
.awards-list-wrapper {
    background-color: #111112;
    padding: 70px;
}
.awards-list-wrapper {
    gap: 165px;
}
.about-portfolio-image {
    padding: 0 20px;
}

.work-experience-wrapper {
    padding: 180px 20px 150px 20px;
    gap: 135px;
}
.magazine-content {
    padding: 40px;
    background-color: #111112;
    min-width: 510px;
}
.magazine-heading {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    padding-bottom: 20px;
}
.border-line {
    border: 1px solid #FFFFFFB3;
    margin: 50px 0;
}

